.item {
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 32px;
  align-items: center;
  padding: 16px;

  @media(max-width: 1024px) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 16px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 8px;

    @media(max-width: 768px) {
      position: relative;
      align-items: center;
      justify-content: center;
    }

    &-carousel {
      max-width: 480px;
      overflow: hidden;
      border-radius: 8px;

      @media(max-width: 575px) {
        max-width: 280px;
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: none;
      padding: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      background-color: #000;
      color: #fff;

      @media(max-width: 400px) {
        position: absolute;
        bottom: -40px;
      }

      &--prev {
        @media(max-width: 400px) {
          left: 0;
        }
      }

      &--next {
        @media(max-width: 400px) {
          right: 0;
        }
      }

      &:hover {
        background-color: #3b3534;
      }

      &:disabled {
        background-color: #E4E4E4;
        cursor: not-allowed;
      }
    }
  }

  &__images {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease-in-out;
  }

  &__image {
    width: 480px;
    @media(max-width: 575px) {
      width: 280px;
    }
  }

  &__wrapper {
    @media(max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }

    @media(max-width: 400px) {
      margin-top: 16px;
    }
  }
}